body {
    margin: 0;
}

#show-menu {
    display: none;
}

#show-menu:checked ~ .burger .burger__line:first-of-type {
    transform: translateY(5px) rotate(-45deg);
}

#show-menu:checked ~ .burger .burger__line:last-of-type {
    transform: translateY(-5px) rotate(45deg);
}

#show-menu:checked ~ .burger .burger__line:nth-last-of-type(2) {
    display: none;
}

#show-menu:checked ~ .burger {
    top: 10px;
}

.burger {
    position: fixed;
    top: 5px;
    left: 5px;
    display: none;
}

.burger__line {
    width: 25px;
    height: 5px;
    margin: 0 0 5px 0;
    background-color: black;
}

.burger__line:last-child {
    margin: 0;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgrey;
    padding: 10px;
}

.main-menu__logo {
    width: 50px;
    height: 50px;
    background-color: lightpink;
}


@media (max-width: 960px) {
    #show-menu:checked ~ .main-menu {
        flex-direction: column;
        justify-content: flex-start;
        box-sizing: border-box;
        width: 150px;
        height: 100%;
        min-height: 215px;
        margin: 0;
        padding: 10px 0;
        z-index: -1;
    }

    #show-menu:checked ~ .main-menu .main-menu__navigation {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px 0;
    }

    .main-menu__item {
        margin: 5px;
    }

    .burger {
        display: block;
    }

    .main-menu {
        position: absolute;
        margin: 0 0 0 -10000px;
        top: 0;
        left: 0;
    }
}

@media (max-width: 480px) {
    .burger__line {
        width: 15px;
        height: 2px;
        margin: 0 0 3px 0;
    }

    .main-menu__logo {
        width: 40px;
        height: 40px;
    }

    .main-menu__item {
        font-size: 14px;
        width: 100%;
        padding: 0 10px;
        text-align: center;
        margin: 5px 0;
    }

    .main-menu__telephone {
        font-size: 13px;
    }

    #show-menu:checked ~ .burger .burger__line:first-of-type {
        transform: translateY(3px) rotate(-45deg);
    }

    #show-menu:checked ~ .burger .burger__line:last-of-type {
        transform: translateY(-2px) rotate(45deg);
    }

    #show-menu:checked ~ .main-menu {
        width: 100px;
    }

    #show-menu:checked ~ .main-menu .main-menu__navigation {
        padding: 10px 0;
    }
}
